*,
:after,
:before {
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
}

html {
  opacity: 0;
  visibility: hidden;

  &.all-loaded {
    opacity: 1;
    visibility: visible;
  }
}

body {
  @extend .font-primary;
  font-size: $font-size;
  font-weight: 400;
  line-height: 1.45;
  color: $base;

  /* MEDIA QUERIES */

  @media (min-width: 1661px) {
    font-size: 24px;
  }
}

.page-wrapper {
  display: flex;
  flex-direction: column;
  gap: em(185px);
  padding: em(100px) 0;
  overflow: hidden;

  /* MEDIA QUERIES */

  @media (max-width: 1439px) {
    padding: em(65px) 0;
  }

  @media (max-width: 1279px) {
    gap: em(100px);
  }
}

.container {
  display: block;
  width: calc((1330 / 1440) * 100vw);
  max-width: 100%;
  margin: 0 auto;
  padding: 0 em(25px);

  /* MEDIA QUERIES */

  @media (max-width: 1179px) {
    width: 100%;
  }
}
